@page "/entrenadores"
@using src.Model.Personas
@inject ProyectoGym.src.Controller.EntrenadorController EntrenadorController
@inject src.Model.Personas.Entrenador Entrenador

<h1>Listado entrenadores</h1>

<p>
    <a class="btn btn-primary" href="entrenador/crear">Nuevo entrenador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Identificador
            </th>
            <th>
                Nombre entrenador
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Horarios
            </th>
            <th>
                Experiencia (años)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in entrenadores)
        {
            <tr>
                <td>
                    @persona.ID
                </td>
                <td>
                    @persona.NombreCompleto
                </td>
                @if (persona is Entrenador entrenador){
                <td>
                    @entrenador.Especialidad
                </td>
                <td>
                    @entrenador.HorariosDisponibles
                </td>
                <td>
                    @entrenador.AñosDeExperiencia
                </td>
                }
                <td>
                    <a asp-action="Editar" href="" asp-route-id="@persona.ID">Editar</a> |
                    <a asp-action="Eliminar" href="" asp-route-id="@persona.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Person> entrenadores = new();

    protected override async Task OnInitializedAsync()
    {
        entrenadores = await EntrenadorController.ListarEntrenadores();
    }
}
