@page "/clases"
@using src.Model.Gestion
@inject ProyectoGym.src.Controller.ClaseController ClaseController
@inject ProyectoGym.src.Controller.PersonaController PersonaController


<h1>Listado Clases</h1>
@if (PersonaController.PersonaAutenticada().Rol == "Administrador")
{
    <p>
        <a class="btn btn-primary" href="clase/crear">Nueva Clase</a>
    </p>
}
@if (PersonaController.PersonaAutenticada().Rol == "Cliente")
{
    <p>
        <a class="btn btn-primary" href="clase/reservar">Reservar clase</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Identificador
            </th>
            <th>
                Nombre clase
            </th>
            <th>
                Cupo máximo
            </th>
            <th>
                Entrenador
            </th>
            <th>
                Horarios
            </th>
            @if (PersonaController.PersonaAutenticada().Rol == "Administrador")
            {
                <th>
                    Acciones
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var clase in clases)
        {
            <tr>
                <td>
                    @clase.ID
                </td>
                <td>
                    @clase.Nombre
                </td>
                <td>
                    @clase.CupoMaximo
                </td>
                <td>
                    @clase.Entrenador.NombreCompleto
                </td>
                <td>
                    @clase.Horario
                </td>
                @if (PersonaController.PersonaAutenticada().Rol == "Administrador")
                {
                <td>
                    <a asp-action="Editar" href="" asp-route-id="@clase.ID">Editar</a> |
                        <a asp-action="Detalles" href="" asp-route-id="@clase.ID">Detalles</a> |
                        <a asp-action="Eliminar" href="" asp-route-id="@clase.ID">Eliminar</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Clase> clases = new();

    protected override async Task OnInitializedAsync()
    {
        clases = await ClaseController.ListarClases();
    }
}
